html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

#control {
    flex-shrink: 1;
    padding: 0px 5px 5px 5px;
}

#map {
    flex-grow: 2; 
    width: 100vw;
    z-index: 1;
}

.awesomplete {
    width: 80%;
    z-index: 2;
}

#address{
    width: 99%;
}

input {
    display: inline-block;
}


